<!DOCTYPE html>
<html lang="en" id="html-root">

<head>
    {% include head.html %}
</head>

<body>
    {% include crt-overlay.html %}

    <!-- App Wrapper -->
    <div class="crt-wrapper" id="app-wrapper">
        {% unless page.hide_nav %}
        {% include nav.html %}
        {% endunless %}

        {{ content }}
        {% include terminal-overlay.html %}
    </div>

    <!-- Custom Cursor -->
    <div id="custom-cursor" class="custom-cursor"></div>

    {% include scripts.html %}
</body>

</html>