---
layout: default
---

<main class="container-fluid px-4 px-lg-5 d-flex flex-column justify-content-center main-terminal">
    <div class="row g-0 w-100">
        <div class="col-lg-10 mx-auto position-relative px-0">
            {{ content }}
        </div>
    </div>
</main>

<!-- Scroll Down Indicator -->
<div class="scroll-indicator" id="scroll-indicator">
    <span class="scroll-indicator-label">scroll</span>
    <div class="scroll-indicator-chevron"></div>
    <div class="scroll-indicator-chevron"></div>
</div>